/* -------------------- Media Queries ----------------------- */
/* --------------------    Tablette   ----------------------- */

@media screen and (max-width: 991px) {


	header {
		margin: 0px;
	}

	.section-filtres {
		flex-direction: column;
		align-items: flex-start;
	}

	.container-filtres {
		flex-wrap: wrap;
		width: 100%;
		justify-content: flex-start;
	}

	.container-filtres p {
	}

	.filtre {
		margin: 10px 10px 10px 0px;
	}

	nav a:hover {
		border-top: none;
		border-bottom: 2px  #0065FC solid;
	}

	#container-central {
		flex-direction: column-reverse;
	}

	#populaires, #hebergements {
		width: 100%;
		margin: 15px 0;
	}

	#hebergements .card {
		width: 48%;
	}

	#activity {
		height: 1100px;
	}

	#activity .container-cards {
		justify-content: space-around;
	}

	.large-cards, .small-cards {
		margin: 25px 0px;/*changer par padding*/
		width: 46%;
	}

	.container-footer {
		width: 90%;
		margin: auto;
	}

}/*Fin Media Queries Tablette*/